@-moz-document domain("untappd.com") {
/* Userstyle for Untappd.com. Created by: 2E0PGS */
/* Repository: https://bitbucket.org/2E0PGS/userstyles/overview */
/* Licence: GNU v3 */
/* Userstyle URL: todo */
/* Version 1.0 12/08/2017 18:44 */

/* ---background body--- */
body {
	background-color: #272727;
}

/* ---main headers--- */
h1, h2, h3 {
	color: white;
}

/* ---links--- */
a {
	color: #fc0;
}

/* ---check in beer title--- */
.activity #main-stream .item .checkin .top .text {
	color: white;
}

/* ---serving type--- */
.activity #main-stream .item .checkin .top .checkin-comment .rating-serving .serving span {
	color: white;
}

/* ---checkin comment text-- */
.activity #main-stream .item .checkin .top .checkin-comment .comment-text {
	color: white;
}

/* ---checkin comment box--- */
.activity #main-stream .item .checkin .top .checkin-comment {
	background: #1d1d1d;
}

/* ---user extra adding comments--- */
.activity #main-stream .item .checkin .feedback .comments .input textarea {
	color: #fff;
	background-color: #272727;
}

.activity #main-stream .item .checkin .feedback .comments .input {
	background-color: #272727;
}

/* ---user added extra comments--- */
.activity #main-stream .item .checkin .feedback .comments {
	background-color: #272727;
}

.activity #main-stream .item .checkin .feedback .comments .comment .text {
	color: #fff;
}

/* ---filter options links--- */
.activity .filters {
	color: #cc6600;
}

/* ---info box / content box--- */
.cont .box .content {
	background-color: #212121;
}

/* ---wishlist--- */
.modal.choose-list ul {
	background-color: #131313;
}

/* ---user stats--- */
.cont .sidebar .user_mini .stats a {
	color: #fff;
	background-color: #2b2b2b;
}

/* ---toast and comment buttons--- */
.button.grey {
	 background-color: #272727;
}

/* ---toast count display--- */
.activity #main-stream .item .checkin .cheers {
	background-color: #272727;
}

/* ---friends page header--- */
.top-header {
	background-color: #212121;
}

/* ---friends names--- */
.friends-list .friend-item .user .info h1 a {
	color: #fff;
}

.friends-list .top {
	color: #fff;
}

/* ---beer list brewry name--- */
.distinct-list .distinct-list-content .distinct-list-list .beer-item .beer-details .brewery a {
	color: #afafaf;
}

/* ---badge header--- */
.badge-list .main .box .content .header {
	background-color: #212121;
}
}